.header
    border-bottom: 1px solid $gray
    min-height: 71px

    .container 
        
        height 100%

    &__top
        display flex
        align-items center
        min-height: 71px

    &__burger
        background-repeat: no-repeat
        background-image: url('../img/svg/burger.svg')
        background-size: contain
        width: 30px
        height: 30px
        cursor pointer

    &__logo
        flex-grow: 1
        text-align: center

    &__logo-elem
        margin 0 auto
        background-repeat: no-repeat
        background-image: url('../img/svg/logo.svg')
        background-size: contain
        width: 108px
        height: 47px
        cursor pointer

    &__search-btn
        background-repeat: no-repeat
        background-image: url('../img/svg/header-search.svg')
        background-size: contain
        width: 30px
        height: 30px
        cursor pointer

    &__menu
        display: none

    &__search
        padding-bottom 24px
        display none
        
        .search 

            &__form
                display flex

            &__input
                flex-grow 1

                .input
                    border-top-right-radius: 0
                    border-bottom-right-radius: 0
                    
                    text-align left

            &__btn

                .btn 
                    border-top-left-radius: 0
                    border-bottom-left-radius: 0

    &__mobile-menu 
        display none
        padding-top 16px
        color $white

        .mobile-menu

            &__heading  
                margin-bottom 16px

                font-weight 600
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0.02em;

            &__item 
                margin-bottom 8px

                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.02em;

                &:last-child
                    margin-bottom 0
            &__list 
                margin-bottom 16px



    &_menu-mob-opened 
        background-color $blue
        height 100vh
        overflow auto

        
        .header
            
            &__search-btn
                background-image: url('../img/svg/search-white.svg')

            &__burger
                background-image: url('../img/svg/burger-close.svg')

            &__logo-elem
                background-image: url('../img/svg/logo-white.svg')

            &__menu 
                display none

            &__mobile-menu
                display block

        .header__menu 
            display none