footer.footer
    .container
        .footer__top.js-footer-menu-opener
            a(href='#')
                span.footer__heading Ссылки&nbsp;
                span - быстрый переход
                span.footer__notmob по страницам сайта
        .footer__menu.menu.js-footer-menu
            ul.menu__list
                li.menu__item.menu__item_hassub
                    a(href='#') Психология
                    .menu__submenu.submenu
                        ul.submenu__list
                            li.submenu__item
                                a(href='#') Нейропсихология
                            li.submenu__item
                                a(href='#') Психология контактов
                            li.submenu__item
                                a(href='#') Псевдопсихология
                            li.submenu__item
                                a(href='#') Психология взаимоотношений в семье
                            li.submenu__item
                                a(href='#') Пункт меню
                            li.submenu__item
                                a(href='#') Пункт меню
                li.menu__item.menu__item_hassub
                    a(href='#') Психиатрия
                    .menu__submenu.submenu
                        ul.submenu__list
                            li.submenu__item
                                a(href='#') Нейропсихология
                            li.submenu__item
                                a(href='#') Психология контактов
                            li.submenu__item
                                a(href='#') Псевдопсихология
                            li.submenu__item
                                a(href='#') Психология взаимоотношений в семье
                            li.submenu__item
                                a(href='#') Пункт меню
                            li.submenu__item
                                a(href='#') Пункт меню
                li.menu__item
                    a(href='#') Терминология
                li.menu__item
                    a(href='#') Великие
                li.menu__item
                    a(href='#') Советы психологов
        .footer__socials.socials
            .socials__list
                .socials__item
                    a(href='#') i
                .socials__item
                    a(href='#') f
                .socials__item
                    a(href='#') vk
                .socials__item
                    a(href='#') Y
        .footer__bottom
            .footer__copyright
                span Copyright 2001 &mdash; 2020 &copy; Доверие
            .footer__content
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque autem beatae culpa cumque et fuga id incidunt, laudantium maiores molestias nemo omnis porro repudiandae tempore? Dignissimos nesciunt quis tempore!
            .footer__counters
                span HotLog



