header.header
    .container
        .header__burger
        .header__logo
            a(href='#') 
                img(src='static/img/svg/logo.svg')
        .header__menu.menu
            ul.menu__list
                li.menu__item
                    a(href='#') Психология
                li.menu__item
                    a(href='#') Психиатрия
        .header__search-btn
