header.header.js-header

        .header__top
            .container
                .header__burger.js-mobile-menu-toggler
                .header__logo
                    a(href='#')
                        .header__logo-elem
                .header__menu.menu
                    ul.menu__list
                        li.menu__item
                            a(href='#') Психология
                        li.menu__item
                            a(href='#') Психиатрия
                .header__search-btn.js-mobile-search-toggler
            
        

        .header__search.search.js-mobile-search
            .container
                .search__form
                    .search__input
                        input.input(type="text" placeholder="Поиск...")
                    .search__btn
                        button.btn Найти

        .header__mobile-menu.mobile-menu.js-mobile-menu
            .container
                ul.mobile-menu__list
                    li.mobile-menu__item.mobile-menu__item_hassub
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item.mobile-menu__item_hassub
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню
                    li.mobile-menu__item
                        a(href='#') Психология
                        .mobile-menu__submenu.submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href='#') Нейропсихология
                                li.submenu__item
                                    a(href='#') Психология контактов
                                li.submenu__item
                                    a(href='#') Псевдопсихология
                                li.submenu__item
                                    a(href='#') Психология взаимоотношений в семье
                                li.submenu__item
                                    a(href='#') Пункт меню
                                li.submenu__item
                                    a(href='#') Пункт меню