.footer
  flex 0 0 auto
  position: relative
  margin-top: 44px
  padding-bottom: 50px


  &::after
    display: block
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 72px
    z-index: 0
    background: linear-gradient(180deg, #E1E1E1 0%, rgba(225, 225, 225, 0) 70.83%)

  .container
    position: relative
    z-index: 1


  &__top
    padding: 24px 0 18px
    margin-bottom: 14px

    color: $gray2
    font-size: 16px
    line-height: 22px
    letter-spacing: 0.05em

    &.opened

      .footer__heading::before
        transform: rotate(180deg)

  &__heading
    font-weight: 600
    font-size: 22px
    line-height: 30px
    letter-spacing: 0.05em

    &::before
      content: ''
      display: inline-block
      background-image: url('../img/svg/footer-arrow.svg')
      background-repeat: no-repeat
      background-size: contain
      width: 16px
      height: 16px
      transition: .3s ease all
      cursor: pointer
      margin-right: 4px

  &__notmob
    display: none

  &__menu
    //display: none
    margin-bottom: 32px

    .menu

      &__list
        @media $tablet
          display: flex
          justify-content: space-between

      &__item
        margin-bottom: 24px

        color: $black
        font-weight: 600
        font-size: 18px
        line-height: 28px
        letter-spacing: 0.02em

        @media $tablet
          display: none

        &:nth-child(-n+3)
          @media $tablet
            display: block
            width: calc(33.3% - (28px / 2))
            margin-bottom: 0

        &:last-child
          margin-bottom: 0

    .submenu
      padding-top: 16px

      &__item
        padding-bottom: 4px
        margin-bottom: 16px
        border-bottom: 1px solid $gray

        color: $gray3
        font-weight: normal
        font-size: 16px
        line-height: 22px

        &:last-child
          margin-bottom: 0

          @media $tablet
            border-bottom: none

  &__socials
    padding-bottom: 24px
    border-bottom: 1px solid $gray7
    margin-bottom: 24px

    .socials

      &__list
        display: flex
        align-items: center
        justify-content: center

      &__item
        padding: 0 5px

  &__bottom

    @media $tablet
      display: flex
      flex-wrap: wrap
      justify-content: center

  &__copyright
    padding: 0 20px
    min-height: 45px
    margin-bottom: 24px

    font-size: 12px
    line-height: 16px
    letter-spacing: 0.05em
    color: $gray2

    @media $tablet
      width: 304px
      margin-right: 35px
      margin-bottom: 33px

  &__content
    @extend .footer__copyright

    min-height: 69px

    @media $tablet
      width: 369px
      margin-right: 0

  &__counters
    @extend .footer__copyright

    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 0

    @media $tablet
      width: 222px
      margin-right: 0


