extends ../layout/main

block variables
	- var title = 'Раздел'
	- var pageClass = 'category'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href='/index.html') Главная
				li.breadcrumbs__item
					a(href='/category.html') Психиатрия
				li.breadcrumbs__item
					a(href='/category.html') Шизотипическое расстройство личности
	.box
		.main

			.heading.heading_nosub
				h2.like-h3
					span Психиатрия

			.free.free_desktop
				span Свободная HTML-область

			.category__articles
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i

			.free
				span Свободная HTML-область

			.heading
				h2.like-h3
					span Шизотипическое расстройство личности
				.subheading
					a(href='#') Все популярные статьи

			.category__subcategory
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i



				.btn.btn_white Все статьи по теме

			.free
				span Свободная HTML-область

			.category__comments
				.comments
					.comments__heading
						span Комментарии
						span.comments__counter 11
					.comments__list
						.comments__item
							.comment
								.comment__author
									span Гость
								.comment__text
									span Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum deleniti dicta et ex iste laboriosam laudantium magni minima molestias nesciunt non numquam perspiciatis quisquam, saepe temporibus totam vero voluptas.
								.comment__date-time
									span 28 сентября 2020 14:46

						.comments__item
							.comment
								.comment__author
									span Гость
									a(href='mailto:test@test.ru') test@test.ru
								.comment__text
									span Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum deleniti dicta et ex iste laboriosam laudantium magni minima molestias nesciunt non numquam perspiciatis quisquam, saepe temporibus totam vero voluptas.
								.comment__date-time
									span 28 сентября 2020 14:46


					.comments__more
						.btn.btn_white Загрузить ещё
					.comments__form
						.comments__heading
							span Ваш комментарий
						form.form
							.form__row
								.form__label
									span Ваше имя
								.form__input
									input(type="text" placeholder="Гость").input
							.form__row
								.form__label
									span Ваш E-mail
								.form__input
									input(type="text" placeholder="example@mail.ru").input
							.form__row.form__row_required
								.form__label
									span Ваш комментарий
								.form__input
									textarea(placeholder="Ваш комментарий").textarea
							.form__privacy
								input(type='checkbox' name='privacy' id='privacy').checkbox
								label(for='privacy') Нажимая на кнопку Вы соглашаетесь #[a(target="_blank" href='privacy.html') с политикой конфиденциальности]
							.form__btn
								.btn Комментировать


			.category__rubric.js-index-rubric-slider
				.heading
					h2.like-h3
						span Название рубрики
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста

						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									span Психология подросткового возраста
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 3
								.article__name.like-h4
									span Психология подросткового возраста

					.swiper-pagination
			.index__free.free.free_tablet
				span Свободная HTML-область
		.sidebar
			.side-menu.js-side-menu
				.side-menu__heading
					span Меню
				ul.side-menu__list
					.side-menu__item.side-menu__item_hassub.side-menu__item_opened
						a(href='#') Психология разделов
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item.submenu__item_active
									a(href='#') Шизотипическое расстройство личности
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Социум
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						a(href='#') Психиатрия
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Фобии
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Терапия
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Эксперименты
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
			.free
				span Свободная HTML-область
			.rubric-slider.js-side-rubric-slider



				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики 2
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста

			.free
				span Свободная HTML-область