extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index'

block content
	.container
		.main
			.index__slider.js-index-top-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.article-slider
								.article-slider__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article-slider__name
									span Психология подросткового возраста
								.article-slider__label
									span Статья месяца
						.swiper-slide
							.article-slider
								.article-slider__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article-slider__name
									span Психология подросткового возраста
								.article-slider__label
									span Статья месяца
						.swiper-slide
							.article-slider
								.article-slider__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article-slider__name
									span Психология подросткового возраста
								.article-slider__label
									span Статья месяца
						.swiper-slide
							.article-slider
								.article-slider__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article-slider__name
									span Психология подросткового возраста
								.article-slider__label
									span Статья месяца
					.swiper-pagination


			.index__new.new
				.index__heading
					h2.like-h3
						span Новые статьи
					.index__subheading
						a(href='#') Все новые статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push


						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
						.articles__item
							.article
									.article__img
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
										.article__change
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста
									.article__meta
										.article__views
											span 2053244
										.article__stars
											span 12345
										.article__mail
											a(href='#') На почту
									.article__descr
										span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									.article__push
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push


				.btn.btn_white Все новые статьи

			.index__free.free
				span Свободная HTML-область


			.index__popular
				.index__heading
					h2.like-h3
						span Популярные статьи
					.index__subheading
						a(href='#') Все популярные статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push


						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push


				.btn.btn_white Все популярные статьи


			.index__free.free
				span Свободная HTML-область


			.index__useful
				.index__heading
					h2.like-h3
						span Полезное
					.index__subheading
						a(href='#') Все полезные статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push


						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
						.articles__item
							.article
								.article__img
									a(href='#')
										img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
				.btn.btn_white Все полезные статьи

			h2.like-h3
				span Название рубрики
			.index__rubric.js-index-rubric-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.article
									.article__img
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста
							.swiper-slide
								.article
									.article__img
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста

						.swiper-pagination
			.index__free.free
				span Свободная HTML-область
		.sidebar