extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index'

block content
	.container
		.main
			.index__slider.js-index-top-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.article
								.article__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article__name
									span Психология подросткового возраста
								.article__label
									span Статья месяца
						.swiper-slide
							.article
								.article__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article__name
									span Психология подросткового возраста
								.article__label
									span Статья месяца
						.swiper-slide
							.article
								.article__img
									img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
								.article__name
									span Психология подросткового возраста
								.article__label
									span Статья месяца
					.swiper-pagination
			h2.like-h3
				span Новые статьи
			.index__new
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push


				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push


				.btn.btn_white Все новые статьи
			.index__free.free
				span Свободная HTML-область
			h2.like-h3
				span Популярные статьи
			.index__popular
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push


				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push


				.btn.btn_white Все популярные статьи
			.index__free.free
				span Свободная HTML-область
			h2.like-h3
				span Полезное
			.index__useful
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push
				.article-block
					.article-block__image
						a(href='#')
							img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
						.article-block__change
					.article-block__category
						span Детская психология
					.article-block__name.like-h4
						span Психология подросткового возраста
					.article-block__meta
						.article-block__views
							span 2053244
						.article-block__stars
							span 12345
						.article-block__mail
							a(href='#') На почту
					.article-block__descr
						span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.article-block__push
				.btn.btn_white Все полезные статьи
			.index__free.free
				span Свободная HTML-область
			h2.like-h3
				span Название рубрики
			.index__rubric.js-index-rubric-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.article-block
									.article-block__image
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article-block__category
										span Детская психология
									.article-block__name.like-h4
										span Психология подросткового возраста
							.swiper-slide
								.article-block
									.article-block__image
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article-block__category
										span Детская психология
									.article-block__name.like-h4
										span Психология подросткового возраста

						.swiper-pagination
			.index__free.free
				span Свободная HTML-область
		.sidebar