extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index'

block content
	.container.container_wide
		.index__slider.js-index-top-slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 1
							.article-slider__label
								span Статья месяца
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 2
							.article-slider__label
								span Статья месяца
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 3
							.article-slider__label
								span Статья месяца
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 4
							.article-slider__label
								span Статья месяца
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 5
							.article-slider__label
								span Статья месяца
					.swiper-slide
						a(href='#').article-slider
							.article-slider__img
								img(src='static/img/content/article-slider.jpg' alt='Психология подросткового возраста')
							.article-slider__name
								span Психология подросткового возраста 6
							.article-slider__label
								span Статья месяца
				.swiper-pagination


	.box
		.main
			.index__new.new
				.heading
					h2.like-h3
						span Новые статьи
					.subheading
						a(href='#') Все новые статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
									.article__img
										.article__img-wrap
											a(href='#')
												img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
										.article__change
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста
									.article__meta
										.article__views
											span 2053244
										.article__stars
											span 12345
										.article__mail
											a(href='#') На почту
									.article__descr
										span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									.article__push
										i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


				.btn.btn_white Все новые статьи

			.index__free.free
				span Свободная HTML-область

			.index__popular
				.heading
					h2.like-h3
						span Популярные статьи
					.subheading
						a(href='#') Все популярные статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


				.btn.btn_white Все популярные статьи


			.index__free.free
				span Свободная HTML-область


			.index__useful
				.heading
					h2.like-h3
						span Полезное
					.subheading
						a(href='#') Все полезные статьи
				.articles
					.articles__list
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i


						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
						.articles__item
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
									.article__change
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
								.article__meta
									.article__views
										span 2053244
									.article__stars
										span 12345
									.article__mail
										a(href='#') На почту
								.article__descr
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.article__push
									i
				.btn.btn_white Все полезные статьи

			.index__rubric.js-index-rubric-slider
				.heading
					h2.like-h3
						span Название рубрики
				.swiper-container
						.swiper-wrapper
							.swiper-slide
								.article
									.article__img
										.article__img-wrap
											a(href='#')
												img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста
							.swiper-slide
								.article
									.article__img
										.article__img-wrap
											a(href='#')
												img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология
									.article__name.like-h4
										span Психология подросткового возраста

							.swiper-slide
								.article
									.article__img
										.article__img-wrap
											a(href='#')
												img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология 2
									.article__name.like-h4
										span Психология подросткового возраста
							.swiper-slide
								.article
									.article__img
										.article__img-wrap
											a(href='#')
												img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
									.article__category
										span Детская психология 3
									.article__name.like-h4
										span Психология подросткового возраста

						.swiper-pagination
			.index__free.free
				span Свободная HTML-область
		.sidebar
			.side-menu.js-side-menu
				.side-menu__heading
					span Меню
				ul.side-menu__list
					.side-menu__item.side-menu__item_hassub.side-menu__item_opened
						a(href='#') Психология разделов
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item.submenu__item_active
									a(href='#') Шизотипическое расстройство личности
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Социум
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						a(href='#') Психиатрия
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Фобии
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Терапия
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Эксперименты
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
			.free
				span Свободная HTML-область
			.rubric-slider.js-side-rubric-slider



				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики 2
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста

			.free
				span Свободная HTML-область