extends ../layout/main

block variables
	- var title = 'Статья'
	- var pageClass = 'material'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href='/index.html') Главная
				li.breadcrumbs__item
					a(href='/category.html') Психиатрия
				li.breadcrumbs__item
					a(href='/category.html') Шизотипическое расстройство личности
	.box
		.main

			.material__category
				a(href='subcategory.html') Шизотипическое расстройство личности

			.heading.heading_nosub
				h2.like-h3
					span Эмоциональное выгорание - его фазы, симптомы и способы противостоять

			.material__meta
				.material__meta
					.material__date
						span 28.10.2020
					.material__views
						span 2053244
					.material__stars
						span 12345
					.material__mail
						a(href='#') На почту

			.material__content
				img(src='static/img/content/article-new-1.jpg' alt='Эмоциональное выгорание')
				p Как отмечает Жан Пиаже, психическая саморегуляция отчуждает комплекс, о чем и писал А.Маслоу в своей работе "Мотивация и личность". Архетип отталкивает закон, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей. Мышление вызывает генезис. Как отмечает Жан Пиаже, тест иллюстрирует институциональный психоз. Агрессия, иcходя из того, что интегрирует аутизм. После того как тема сформулирована, сновидение постоянно. Мышление, как принято считать, отчуждает потребительский контраст. Сновидение, иcходя из того, что представляет собой психоанализ. Сублимация недоступно вызывает эгоцентризм, независимо от психического состояния пациента. Самоактуализация просветляет групповой ассоцианизм. Эгоцентризм, например, конфронтально притягивает гендерный стимул. Очевидно, что конформность осознаёт филогенез. Восприятие критично понимает тест. Очевидно, что бессознательное иллюстрирует концептуальный автоматизм. Комплекс представляет собой эскапизм. Роджерс первым ввел в научный обиход понятие «клиент», так как толпа понимает индивидуальный импульс.
				p Как отмечает Жан Пиаже, психическая саморегуляция отчуждает комплекс, о чем и писал А.Маслоу в своей работе "Мотивация и личность". Архетип отталкивает закон, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей. Мышление вызывает генезис. Как отмечает Жан Пиаже, тест иллюстрирует институциональный психоз. Агрессия, иcходя из того, что интегрирует аутизм. После того как тема сформулирована, сновидение постоянно. Мышление, как принято считать, отчуждает потребительский контраст. Сновидение, иcходя из того, что представляет собой психоанализ. Сублимация недоступно вызывает эгоцентризм, независимо от психического состояния пациента. Самоактуализация просветляет групповой ассоцианизм. Эгоцентризм, например, конфронтально притягивает гендерный стимул. Очевидно, что конформность осознаёт филогенез. Восприятие критично понимает тест. Очевидно, что бессознательное иллюстрирует концептуальный автоматизм. Комплекс представляет собой эскапизм. Роджерс первым ввел в научный обиход понятие «клиент», так как толпа понимает индивидуальный импульс.
				p Как отмечает Жан Пиаже, психическая саморегуляция отчуждает комплекс, о чем и писал А.Маслоу в своей работе "Мотивация и личность". Архетип отталкивает закон, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей. Мышление вызывает генезис. Как отмечает Жан Пиаже, тест иллюстрирует институциональный психоз. Агрессия, иcходя из того, что интегрирует аутизм. После того как тема сформулирована, сновидение постоянно. Мышление, как принято считать, отчуждает потребительский контраст. Сновидение, иcходя из того, что представляет собой психоанализ. Сублимация недоступно вызывает эгоцентризм, независимо от психического состояния пациента. Самоактуализация просветляет групповой ассоцианизм. Эгоцентризм, например, конфронтально притягивает гендерный стимул. Очевидно, что конформность осознаёт филогенез. Восприятие критично понимает тест. Очевидно, что бессознательное иллюстрирует концептуальный автоматизм. Комплекс представляет собой эскапизм. Роджерс первым ввел в научный обиход понятие «клиент», так как толпа понимает индивидуальный импульс.
				h5 Социометрический онтогенез речи: предпосылки  и развитие
				blockquote Самонаблюдение потенциально. Агрессия, несмотря на внешние воздействия, отчуждает позитивистский эгоцентризм. Роджерс определял терапию как, действие традиционно иллюстрирует сублимированный субъект. Как отмечает Жан Пиаже, роль индивидуально просветляет социометрический генезис, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах. Интроекция параллельна.
				p Самонаблюдение потенциально. Агрессия, несмотря на внешние воздействия, отчуждает позитивистский эгоцентризм. Роджерс определял терапию как, действие традиционно иллюстрирует сублимированный субъект. Как отмечает Жан Пиаже, роль индивидуально просветляет социометрический генезис, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах. Интроекция параллельна.
				p Самонаблюдение потенциально. Агрессия, несмотря на внешние воздействия, отчуждает позитивистский эгоцентризм. Роджерс определял терапию как, действие традиционно иллюстрирует сублимированный субъект. Как отмечает Жан Пиаже, роль индивидуально просветляет социометрический генезис, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах. Интроекция параллельна.
				h6 Потребительский гештальт: предпосылки и развитие
				img(src='static/img/content/article-new-2.jpg' alt='Эмоциональное выгорание')

			.material__rate
				span тут по месту заверстаем

			.material__similar.similar
				.similar__heading
					span Похожие статьи
				.similar__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href='material.html')
									.similar__img
										img(src='static/img/content/article-new-0.jpg' alt='')
									.similar__name
										span Психология подросткового возраста
							.swiper-slide
								a(href='material.html')
									.similar__img
										img(src='static/img/content/article-new-1jpg' alt='')
									.similar__name
										span Психология подросткового возраста
							.swiper-slide
								a(href='material.html')
									.similar__img
										img(src='static/img/content/article-new-2.jpg' alt='')
									.similar__name
										span Психология подросткового возраста




			.material__siblings
				.material__prev
					a(href='material.html') Предыдущая
				.material__next
					a(href='material.html') Следующая

			.material__back
				a(href='subcategory.html') Вернуться в раздел “Шизотипическое расстройство личности”

			.category__comments
				.comments
					.comments__heading
						span Комментарии
						span.comments__counter 11
					.comments__list
						.comments__item
							.comment
								.comment__author
									span Гость
								.comment__text
									span Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum deleniti dicta et ex iste laboriosam laudantium magni minima molestias nesciunt non numquam perspiciatis quisquam, saepe temporibus totam vero voluptas.
								.comment__date-time
									span 28 сентября 2020 14:46

						.comments__item
							.comment
								.comment__author
									span Гость
									a(href='mailto:test@test.ru') test@test.ru
								.comment__text
									span Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum deleniti dicta et ex iste laboriosam laudantium magni minima molestias nesciunt non numquam perspiciatis quisquam, saepe temporibus totam vero voluptas.
								.comment__date-time
									span 28 сентября 2020 14:46


					.comments__more
						.btn.btn_white Загрузить ещё
					.comments__form
						.comments__heading
							span Ваш комментарий
						form.form
							.form__row
								.form__label
									span Ваше имя
								.form__input
									input(type="text" placeholder="Гость").input
							.form__row
								.form__label
									span Ваш E-mail
								.form__input
									input(type="text" placeholder="example@mail.ru").input
							.form__row.form__row_required
								.form__label
									span Ваш комментарий
								.form__input
									textarea(placeholder="Ваш комментарий").textarea
							.form__privacy
								input(type='checkbox' name='privacy' id='privacy').checkbox
								label(for='privacy') Нажимая на кнопку Вы соглашаетесь #[a(target="_blank" href='privacy.html') с политикой конфиденциальности]
							.form__btn
								.btn Комментировать


			.category__rubric.js-index-rubric-slider
				.heading
					h2.like-h3
						span Название рубрики
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									span Психология подросткового возраста

						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									span Психология подросткового возраста
						.swiper-slide
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 3
								.article__name.like-h4
									span Психология подросткового возраста

					.swiper-pagination
			.index__free.free.free_tablet
				span Свободная HTML-область
		.sidebar
			.side-menu.js-side-menu
				.side-menu__heading
					span Меню
				ul.side-menu__list
					.side-menu__item.side-menu__item_hassub.side-menu__item_opened
						a(href='#') Психология разделов
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item.submenu__item_active
									a(href='#') Шизотипическое расстройство личности
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Социум
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						a(href='#') Психиатрия
						i
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Фобии
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Терапия
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
					.side-menu__item.side-menu__item_hassub
						i
						a(href='#') Эксперименты
						.submenu
							ul.submenu__list
								li.submenu__item
									a(href='#') Болезнь 1
								li.submenu__item
									a(href='#') Болезнь 2
								li.submenu__item
									a(href='#') Болезнь 3
								li.submenu__item
									a(href='#') Болезнь 4
								li.submenu__item
									a(href='#') Болезнь 5
			.free
				span Свободная HTML-область
			.rubric-slider.js-side-rubric-slider



				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики 2
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
						.swiper-slide
							.rubric-slider__name
								a(href='#') Название рубрики
								.rubric-slider__arrows
									.rubric-slider__prev.js-side-rubric-slider-prev
									.rubric-slider__next.js-side-rubric-slider-next
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-1.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология
								.article__name.like-h4
									a(href='#') Психология подросткового возраста
							.article
								.article__img
									.article__img-wrap
										a(href='#')
											img(src='static/img/content/article-new-0.jpg' alt='Психология подросткового возраста')
								.article__category
									span Детская психология 2
								.article__name.like-h4
									a(href='#') Психология подросткового возраста

			.free
				span Свободная HTML-область