.btn
    background-color $blue
    outline: none
    border-radius: 4px
    border: 1px solid $blue
    padding 10px 20px
    cursor pointer

    font-family: mainFont
    font-size 16px
    line-height 26px
    color $white
    text-align center

    &:hover
        background-color $blue_dark

    &:active 
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

    &_white
        background-color: $white
        border-color: $gray3
        color: $black

        &:hover
            background-color $white

.input
    outline: none
    border: 1px solid $gray3
    border-radius: 4px
    padding 10px 20px
    width 100%

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color $black
    text-align center

    &:active 
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


.like-h3
    font-family: $RobotoSlab
    font-size: 24px
    line-height: 32px
    color: $black
    text-align: center

    @media $tablet
        font-size: 30px

.like-h4
    font-family: $RobotoSlab
    font-size: 20px
    line-height: 28px


.article

    &__img
        margin-bottom: 8px
        position: relative
        overflow: hidden

        img
            width: 100%
            height: 100%
            object-fit: contain
            transition: .3s ease all

        a

            &:hover

                img
                    transform: scale(1.2)

    &__change
        position: absolute
        top: 0
        right: 0
        background-color: alpha($black, 0.3)
        width: 45px
        height: 45px
        transition: .3s all ease
        cursor: pointer

        &::after
            content: ''
            display: block
            width: 32px
            height: 23px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-image: url('../img/svg/change.svg')
            background-repeat: no-repeat
            background-position: center center
            background-size: contain


        &:hover
            background-color: $blue


    &__category
        margin-bottom: 4px

        color: $blue
        text-transform: uppercase
        font-size: 14px

    &__name
        margin-bottom: 4px

    &__meta
        margin-bottom: 8px
        display: flex

        font-size: 14px
        color: $gray3

        @media $tablet
            font-size: 13px

    &__views
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/views.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 15px
            height: 11px
            margin-right: 4px


    &__stars
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/stars.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 15px
            height: 11px



    &__mail
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/mail.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 14px
            height: 14px
            margin-right: 5px

        a
            text-decoration: underline

    &__descr
        overflow: hidden
        width: 100%
        height: 140px

        font-size: 16px
        line-height: 28px
        letter-spacing: 0.02em
        color: $gray2

        &.opened
            overflow: visible
            height: auto

    &__push
        height: 89px
        position: relative
        top: -35px
        margin-bottom: -35px
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 72.4%)

        &::before
            content: ''
            display: block
            background-image: url('../img/svg/push.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 16px
            height: 16px
            position: absolute
            top: 50%
            left: 50%
            transition: .3s ease all
            transform: translate(-50%, -50%) rotate(0deg)
            cursor: pointer

        &.opened

            &::before
                transform: translate(-50%, -50%) rotate(180deg)


.free
    background: $white
    border: 1px solid $gray4;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex
    align-items: center
    justify-content: center
    min-height: 109px
    margin-bottom: 56px

    font-size: 18px
    line-height: 28px
    color: $gray6

    @media $tablet
        min-height: 225px
        margin-bottom: 64px


.swiper

    &-pagination
        position: relative
        top: 100%
        padding-top: 30px

        &-bullet
            width: 12px
            height: 12px
            border: 1px solid $blue
            background-color: $white
            opacity: 1

            &-active
                background-color: $blue


.side-menu
    font-family: mainFont
    font-style: normal
    color: $black
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
    border: 1px solid $gray
    padding: 16px 0 18px 15px
    margin-bottom: 56px

    &__heading
        padding-bottom: 16px
        padding-right: 15 px
        border-bottom: 1px solid $gray
        margin-bottom: 16px

        font-weight: bold
        font-size: 18px
        line-height: 28px

    .submenu
        margin-top: 16px
        display: none

        color: $gray5
        font-size: 16px
        line-height: 22px

        &__item
            margin-top: 16px

            &_active
                position: relative
                color: $blue

                &::before
                    content: ''
                    display: block
                    width: 3px
                    position: absolute
                    top: -4px
                    bottom: -4px
                    left: -15px
                    background-color: $blue

    &__item
        margin-bottom: 20px

        font-size: 16px
        color: $black

        & > a
            display: block
            width: 164px

        &:last-child
            margin-bottom: 0

        &_hassub
            position: relative

            &::after
                content: ''
                background-image url('../img/svg/menu-arrow-down.svg')
                display block
                width 10px
                height 6px
                background-repeat: no-repeat
                background-size: contain
                position absolute
                right 18px
                top: 10px
                transition: .3s ease all


        &_opened

            .submenu
                display: block

            &::after
                transform: rotate(180deg)



.rubric-slider
    position: relative
    padding: 16px 10px 0 10px
    border: 1px solid $gray7
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
    margin-bottom: 56px

    &__name
        border-bottom: 1px solid $gray
        margin-bottom: 24px
        padding-bottom: 14px
        padding-right: 48px

        font-weight: bold
        font-size: 18px
        line-height: 28px

    &__arrows
        position: absolute
        top: 20px
        right: 10px
        display: flex
        z-index: 2


    &__prev
        width: 6px
        height: 10px
        padding: 9px 12px
        background-image: url('../img/svg/slider-prev.svg')
        background-position: center center
        background-repeat: no-repeat
        cursor: pointer

    &__next
        width: 6px
        height: 10px
        padding: 9px 12px
        background-image: url('../img/svg/slider-next.svg')
        background-position: center center
        background-repeat: no-repeat
        cursor: pointer

    .article
        margin-bottom: 24px

        &__category
            font-size: 13px

        &__name
            margin-bottom: 6px

            font-size: 15px
            line-height: 26px

