.btn 

    background-color $blue
    border: none 
    outline: none
    border-radius: 4px
    border: 1px solid $blue
    padding 10px 20px
    cursor pointer

    font-family: mainFont
    font-size 16px
    line-height 26px
    color $white
    text-align center

    &:hover 
        background-color $blue_dark

    &:active 
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

.input
    outline: none
    border: 1px solid $gray3
    border-radius: 4px
    padding 10px 20px
    width 100%

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color $black
    text-align center

    &:active 
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
