.btn
    background-color $blue
    outline: none
    border-radius: 4px
    border: 1px solid $blue
    padding 10px 20px
    cursor pointer

    font-family: mainFont
    font-size 16px
    line-height 26px
    color $white
    text-align center

    &:hover
        background-color $blue_dark

    &:active 
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

    &_white
        background-color: $white
        border-color: $gray3
        color: $black

        &:hover
            background-color $white

.input
    outline: none
    border: 1px solid $gray3
    border-radius: 4px
    padding 10px 16px
    width 100%

    font-size: 16px
    line-height: 16px
    letter-spacing: 0.02em
    color $black

    &:active 
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)

.textarea
    @extend .input

    display: block
    min-height: 100px

    &:active, &:focus
        border-bottom: 1px solid $blue

.checkbox
    position: absolute
    z-index: -1
    opacity: 0

    & + label
        display: inline-block
        user-select: none

        &::before
            content: ''
            display: inline-block
            width: 15px
            height: 15px
            border: 1px solid $blue
            border-radius: 1px

    &:checked + label::before
        background-image: url('../img/svg/checkbox-active.svg')
        background-repeat: no-repeat
        border: none




.required

    &::after
        content: ' *'
        color: $blue

.like-h3
    font-family: $RobotoSlab
    font-size: 24px
    line-height: 32px
    color: $black
    text-align: center

    @media $tablet
        font-size: 30px

.like-h4
    font-family: $RobotoSlab
    font-size: 20px
    line-height: 28px


.article

    &__img
        margin-bottom: 8px
        position: relative
        overflow: hidden

        img
            width: 100%
            height: 100%
            object-fit: cover
            transition: .3s ease all

        a
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0

            &:hover

                img
                    transform: scale(1.2)


    &__img-wrap
        width: 100%
        padding-bottom: 66%
        display: flex
        justify-content: center
        overflow: hidden

    &__change
        position: absolute
        top: 0
        right: 0
        background-color: alpha($black, 0.3)
        width: 45px
        height: 45px
        transition: .3s all ease
        cursor: pointer

        &::after
            content: ''
            display: block
            width: 32px
            height: 23px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-image: url('../img/svg/change.svg')
            background-repeat: no-repeat
            background-position: center center
            background-size: contain


        &:hover
            background-color: $blue


    &__category
        margin-bottom: 4px

        color: $blue
        text-transform: uppercase
        font-size: 14px

    &__name
        margin-bottom: 4px

    &__meta
        margin-bottom: 8px
        display: flex

        font-size: 14px
        color: $gray3

        @media $tablet
            font-size: 13px

    &__views
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/views.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 15px
            height: 11px
            margin-right: 4px


    &__stars
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/stars.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 15px
            height: 11px



    &__mail
        margin-right: 16px
        vertical-align: middle

        &::before
            display: inline-block
            content: ''
            vertical-align: middle
            background-image: url('../img/svg/mail.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 14px
            height: 14px
            margin-right: 5px

        a
            text-decoration: underline

    &__descr
        overflow: hidden
        width: 100%
        height: 140px

        font-size: 16px
        line-height: 28px
        letter-spacing: 0.02em
        color: $gray2

        &.opened
            overflow: visible
            height: auto

    &__push
        height: 89px
        position: relative
        top: -35px
        margin-bottom: -35px
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 72.4%)

        i
            display: block
            background-image: url('../img/svg/push.svg')
            background-repeat: no-repeat
            background-size: contain
            width: 16px
            height: 16px
            position: absolute
            top: 50%
            left: 50%
            transition: .3s ease all
            transform: translate(-50%, -50%) rotate(0deg)
            cursor: pointer

            &:hover
                width: 18px
                height: 18px

        &.opened
            background: transparent

            i
                transform: translate(-50%, -50%) rotate(180deg)


.free
    box-sizing: border-box;
    border-radius: 4px;
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 56px

    font-size: 18px
    line-height: 28px
    color: $gray6

    @media $tablet
        margin-bottom: 64px

    &_desktop
        display: none

        @media $desktop
            display: flex

    &_tablet
        display: flex

        @media $desktop
            display: none


.swiper

    &-pagination
        position: relative
        top: 100%
        padding-top: 30px

        &-bullet
            width: 12px
            height: 12px
            border: 1px solid $blue
            background-color: $white
            opacity: 1

            &-active
                background-color: $blue


.side-menu
    font-family: mainFont
    font-style: normal
    color: $black
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
    border: 1px solid $gray
    padding: 16px 0 18px 15px
    margin-bottom: 56px

    &__heading
        padding-bottom: 16px
        padding-right: 15 px
        border-bottom: 1px solid $gray
        margin-bottom: 16px

        font-weight: bold
        font-size: 18px
        line-height: 28px

    .submenu
        margin-top: 16px
        display: none

        color: $gray5
        font-size: 16px
        line-height: 22px

        &__item
            margin-top: 16px

            &_active
                position: relative
                color: $blue

                &::before
                    content: ''
                    display: block
                    width: 3px
                    position: absolute
                    top: -4px
                    bottom: -4px
                    left: -15px
                    background-color: $blue

    &__item
        margin-bottom: 20px

        font-size: 16px
        color: $black

        & > a
            display: block
            width: 164px

        &:last-child
            margin-bottom: 0

        &_hassub
            position: relative

            i
                background-image url('../img/svg/menu-arrow-down.svg')
                display block
                width 10px
                height 6px
                background-repeat: no-repeat
                background-size: contain
                position absolute
                right 18px
                top: 10px
                transition: .3s ease all
                cursor: pointer;


        &_opened

            .submenu
                display: block

            i
                transform: rotate(180deg)



.rubric-slider
    //position: relative
    padding: 16px 10px 0 10px
    border: 1px solid $gray7
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
    margin-bottom: 56px

    &__name
        border-bottom: 1px solid $gray
        margin-bottom: 24px
        padding-bottom: 14px
        padding-right: 48px
        position: relative

        font-weight: bold
        font-size: 18px
        line-height: 28px

    &__arrows
        position: absolute
        bottom: 18px
        right: 10px
        display: flex
        z-index: 2


    &__prev
        width: 6px
        height: 10px
        padding: 9px 12px
        background-image: url('../img/svg/slider-prev.svg')
        background-position: center center
        background-repeat: no-repeat
        cursor: pointer

    &__next
        width: 6px
        height: 10px
        padding: 9px 12px
        background-image: url('../img/svg/slider-next.svg')
        background-position: center center
        background-repeat: no-repeat
        cursor: pointer

    .article
        margin-bottom: 24px

        &__category
            font-size: 13px

        &__name
            margin-bottom: 6px

            font-size: 15px
            line-height: 26px


.breadcrumbs
    margin-bottom: 17px

    font-size: 12px
    color: $gray8

    @media $tablet
        margin-bottom: 32px

        font-size: 14px

    @media $desktop
        font-size: 13px

    &__list
        display: flex
        flex-wrap: wrap

    &__item
        margin-right: 16px
        margin-bottom: 8px

        &::after
            content: '/'
            margin-left: 16px
            
        &:last-child
            color: $gray5
            
            &::after
                display: none

.heading
    margin-bottom: 32px

    @media $tablet
        display: flex
        justify-content: space-between
        align-items: flex-end
        padding-bottom: 8px
        border-bottom: 1px solid $gray

.subheading
    display: none

    @media $tablet
        display: block
        font-weight: 600
        font-size: 14px
        line-height: 23px
        text-align: right
        color: $gray3

        
.comments

    @media $desktop
        padding-top: 16px
        border-top: 1px solid $gray7

    &__heading
        margin-bottom: 33px

        text-align: left
        font-family: $RobotoSlab
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 26px
        color: $black

        @media $tablet
            font-size: 24px

        @media $desktop
            margin-bottom: 35px


    &__counter
        margin-left: 9px

        font-family: mainFont
        font-size: 16px
        color: $gray2

        @media $desktop
            margin-left: 10px

    &__list
        margin-bottom: 32px

    &__more
        margin-bottom: 48px

        @media $desktop
            margin-bottom: 51px

        .btn

            @media $tablet
                &::after
                    content: ''
                    display: inline-block
                    background-image: url('../img/svg/push.svg')
                    width: 16px
                    height: 16px
                    position: relative
                    top: 3px
                    left: 8px

    &__item
        margin-bottom: 24px

        &:last-child
            margin-bottom: 0

    .comment

        &__author
            margin-bottom: 8px

            font-family: $RobotoSlab
            font-size: 14px
            line-height: 28px
            color: $black

            @media $desktop
                font-size: 18px
                line-height: 28px

            a
                display: none

                @media $desktop
                    display: inline-block
                    margin-left: 6px

                    color: $gray6
        &__text
            margin-bottom: 4px

            font-size: 11px
            line-height: 24px
            color: $gray_dark

            @media $desktop
                font-size: 16px
                line-height: 28px


        &__date-time
            font-size: 11px
            line-height: 15px
            color: $gray3

            @media $desktop
                font-size: 12px




    .form

        &__row

            &:nth-child(-n+2)

                @media $tablet
                    width: calc(50% - 15px)
                    display: inline-block

            &:first-child
                @media $tablet
                    margin-right: 25px

        &__label
            margin-bottom: 8px

            color: $gray2
            font-size: 14px
            line-height: 13px

        &__input
            margin-bottom: 16px

            @media $desktop
                margin-bottom: 24px

            .input

                @media $desktop
                    padding: 10px 16px

                    line-height: 18px


            .textarea
                margin-bottom: 16px

                @media $desktop
                    margin-bottom: 0

        &__privacy
            position: relative
            margin-bottom: 24px

            font-size: 14px
            line-height: 18px

            @media $desktop
                margin-top: -13px
                margin-bottom: 15px

            .checkbox

                & + label
                    padding-left: 23px

                    &::before
                        position: absolute
                        top: 2px
                        left: 0

            a
                color: $blue


        &__btn

            @media $desktop
                width: 185px


.pagination
    display: flex
    
    font-size: 16px
    line-height: 18px
    letter-spacing: .16px

    &__list
        display: flex
        margin: 0 auto

    &__item
        height: 48px
        width: 48px
        text-align: center
        line-height: 48px

        a
            display: block
            width: 48px
            height: 48px

        &_active
            color: $white
            background-color: $blue

        &:hover
            color: $blue
            background-color: $white


    &__prev
        display: none

        @media $tablet
            display: block
            @extend .pagination__item

            background-image: url('../img/svg/slider-prev.svg')
            background-position: center center
            background-repeat: no-repeat
            cursor: pointer

    &__next
        display: none

        @media $tablet
            display: block
            @extend .pagination__item

            background-image: url('../img/svg/slider-next.svg')
            background-position: center center
            background-repeat: no-repeat
            cursor: pointer


