// ЦВЕТА
$black = #000
$white = #fff

$gray = #D4D4D4
$gray2 = #686866
$gray3 = #9f9f9f
$gray4 = #C4C4C4

$blue = #30BCEC
$blue_dark = #17ABDE
$blue_light = #38C8FA


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

mainFont = 'Open Sans', sans-serif

// ТОЧКИ ПЕРЕХОДА

$tablet = 'screen and (min-width: 768px)';
$desktop = 'screen and (min-width: 1024px)';