// ЦВЕТА
$black = #000
$white = #fff

$gray = #D4D4D4
$gray2 = #686866
$gray3 = #9f9f9f

$blue = #30BCEC
$blue_dark = #17ABDE



// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

mainFont = 'Open Sans', sans-serif