.feedback
  
  .heading .like-h3
    text-align: left

  .form
    margin-bottom: 40px

    &__row
      display: block

      &_captcha

        .form

          &__item:first-child
            margin-bottom: 16px

          &__label
            margin-bottom: 14px

          &__captcha

            a
              display: block
              margin-top: 4px

              font-size: 13px
              line-height: 17px
              color: $blue

          &__input

            .input
              width: 160px

    &__item
      margin-bottom: 24px

      &_captcha
        margin-bottom: 16px








    &__label
      @extend .comments .form__label

    &__input

      .input, .textarea
        padding: 11px 16px

    &__privacy

      @extend .comments .form__privacy




