.material

  &__category
    margin-bottom: 8px

    font-size: 14px
    text-transform: uppercase
    color: $blue

    @media $tablet
      font-size: 13px

  .heading
    margin-bottom: 4px

    @media $tablet
      margin-bottom: 8px
      border-bottom: none
      padding-bottom: 0

    @media $desktop
      margin-bottom: 2px
    
  .like-h3
    text-align: left

    @media $tablet
      font-size: 34px
      line-height: 45px

  &__meta
    @extend .article__meta

    display: flex
    flex-wrap: wrap
    margin-bottom: 24px

  &__date
    margin-right: 16px

  &__views
    @extend .article__views

  &__stars
    @extend .article__stars

  &__mail
    @extend .article__mail

  &__pic
    margin-bottom: 32px
    text-align: center

  &__text

    p
      margin-bottom: 22px

      font-size: 16px
      line-height: 22px
      letter-spacing: 0.02em
      color: $black

      @media $tablet
        font-size: 18px
        line-height: 28px

    .bold
      margin-top: 48px
      margin-bottom: 32px

      font-weight: 600
      font-size: 18px
      line-height: 26px

    .quote
      margin-top: 32px
      margin-bottom: 32px
      padding: 16px 0
      position: relative

      font-style: italic
      font-size: 16px
      line-height: 24px
      text-align: center
      letter-spacing: 0.02em
      color: #676767

      @media $tablet
        border-left: 6px solid $blue
        text-align: left
        padding: 0 0 0 24px

      &::after, &::before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 156px
        height: 6px
        background-color: $blue

        @media $tablet
          display: none

      &::before
        top: auto
        bottom: 0


    img
      display: block
      margin: 0 auto 32px


  .siblings
    display: flex
    justify-content: space-between
    margin-bottom: 24px

    @media $desktop
      margin-bottom: 32px

    &_first
      justify-content: flex-end

    &__prev, &__next
      display: flex
      align-items: center
      cursor: pointer

      font-size: 14px
      color: $gray2

      @media $desktop
        align-items: flex-start

      &:hover
        color: $blue

      &::after
        content: ''
        display: block
        flex-shrink: 0
        width: 36px
        height: 36px
        background-size: cover

        @media $tablet
          padding-top: 16px



    &__next
      text-align: right

      &::after
        background-image: url('../img/svg/material-next.svg')
        margin-left: 8px

    &__prev
      flex-direction: row-reverse

      &::after
        background-image: url('../img/svg/material-prev.svg')
        margin-right: 8px

    &__name
      display: none
      font-size: 17px
      line-height: 20px
      font-weight: 600
      margin-top: 8px

      @media $desktop
        display: block

      @media $desktop_big
        font-size: 15px

  &__back
    padding-bottom: 24px
    border-bottom: 1px solid $gray4
    margin-bottom: 64px

    font-size: 16px
    font-weight: 600
    text-align: center
    color: $gray2

    @media $desktop
      border-bottom: none
      margin-bottom: 24px


